<% title "Logowanie" %>
<div style="margin:5px; padding:5px; border:1px solid #ccc;">
<%= form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password, 'Hasło' %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Zaloguj" %></p>
<% end %>


</div>